@import '~node_modules/modern-normalize/modern-normalize.css';
* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.page-header .container {
  width: 100%;
}
@media screen and (min-width: 320px) {
  .page-header .container {
    height: 230px;
    background-image: url("../src/images/header_mob_all.jpg");
    background-size: auto;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 320px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .page-header .container {
    background-image: url("../src/images/header_mob_all@2x.jpg");
    background-size: 320px;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) {
  .page-header .container {
    height: 216px;
    background-image: url("../src/images/header_tabl_all.jpg");
    background-size: auto;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .page-header .container {
    background-image: url("../src/images/header_tabl_all@2x.jpg");
    background-size: 768px;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1280px) {
  .page-header .container {
    background-image: url("../src/images/header_desk_all.jpg");
    background-size: auto;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .page-header .container {
    background-image: url("../src/images/header_desk_all@2x.jpg");
    background-size: 1280px;
    background-repeat: no-repeat;
  }
}/*# sourceMappingURL=index.css.map */