<div class="pagination container">
  <button class="btn--decrement" type="button" data-action="decrement">
    <svg class="pagination__icon" width="16" height="16">
      <use href="./images/icons.svg#icon-arrow-left"></use>
    </svg>
  </button>

  <div class="pagination__wrap"></div>
  <button class="btn--increment" type="button" data-action="increment">
    <svg class="pagination__icon" width="16" height="16">
      <use href="./images/icons.svg#icon-arrow-right"></use>
    </svg>
  </button>
</div>
