<div class="pagination">
  <ul class="pagination__list list">
    <li class="pagination__item item1 first-page"></li>
    <li class="pagination__item item2"></li>
    <li class="pagination__item item3"></li>
    <li class="pagination__item item4"></li>
    <li class="pagination__item item5"></li>
    <li class="pagination__item item6"></li>
    <li class="pagination__item item7"></li>
    <li class="pagination__item item8"></li>
    <li class="pagination__item item9 last-page"></li>
  </ul>
</div>
