.page-header .container {
  width: 100%;
  //   @media screen and (max-width: 320px)
  @include mobile {
    height: 230px;

    background-image: url('../src/images/header_mob_all.jpg');
    background-size: auto;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url('../src/images/header_mob_all@2x.jpg');
        background-size: 320px;
        background-repeat: no-repeat;
      }
    }
  }

  //   @media screen and (min-width: 320px) and (max-width: 767px)
  @include tablet {
    height: 216px;

    background-image: url('../src/images/header_tabl_all.jpg');
    background-size: auto;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url('../src/images/header_tabl_all@2x.jpg');
        background-size: 768px;

        background-repeat: no-repeat;
      }
    }
  }
  @include desktop {
    background-image: url('../src/images/header_desk_all.jpg');
    background-size: auto;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url('../src/images/header_desk_all@2x.jpg');
        background-size: 1280px;

        background-repeat: no-repeat;
      }
    }
  }
}
.header__icon {
  fill: white;
}
