.pagination {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  @include tablet {
    padding-bottom: 60px;
  }
  //453px
}
.btn--decrement {
  margin-right: 19px;
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  outline: none;
  background-color: rgba(247, 247, 247, 1);
  border: none;
  border-radius: 5px;
  @include tablet {
    margin-right: 16px;
  }
}
.pagination__icon {
  color: black;
}
.pagination__wrap {
  display: flex;
  justify-content: center;
}
.btn--increment {
  margin-left: 19px;
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: rgba(247, 247, 247, 1);
  @include tablet {
    margin-left: 16px;
  }
}
.pagination__list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 16px;
}
.pagination__item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  width: 40px;
  height: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  color: rgba(0, 0, 0, 1);
}
// .pagination__item:not(:last-child) {
//   margin-right: 16px;
// }
.pagination__item--active {
  background-color: rgba(255, 107, 8, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
}
