.pagination {
  display: flex;
  justify-content: center;
}
.pagination__list {
  display: flex;
}
.pagination__item {
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}
.pagination__item:not(:last-child) {
  margin-right: 16px;
}
.pagination__item--active {
  background-color: rgba(255, 107, 8, 1);
  border-radius: 5px;
  width: 40px;
  height: 40px;
}
