.pagination {
  display: flex;
  justify-content: center;

  margin-bottom: 60px;

  //453px
}
.btn--decrement {
  margin-right: 16px;
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  outline: none;
  background-color: transparent;
}
.pagination__icon {
  color: black;
}
.pagination__wrap {
  display: flex;
  justify-content: center;
}
.btn--increment {
  margin-left: 16px;
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  outline: none;
  background-color: transparent;
}
.pagination__list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.pagination__item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  width: 40px;
  height: 40px;
  // padding: 13px;
}
.pagination__item:not(:last-child) {
  margin-right: 16px;
}
.pagination__item--active {
  background-color: rgba(255, 107, 8, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
}
